extends ../base/layout

block data
  include ../data/main-data

block variables
  - var title = "Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    h1.visually-hidden Chjewellery's online store
    section.hero
      .hero__wrapper
        h2 perfection
        p made to be yours

    section.new-in.container
      h2 New In
      a(href="catalog.html") Shop Now

      .js-slider.new-in__slider#products-slider
        ul.new-in__list.swiper-wrapper
          each product, index in newProducts
            li.swiper-slide
              a.product(href="product-card.html")
                +imgExtended(product.path, product.image, product.format, product.width, product.height, product.alt)
                p= product.title
                  span= product.price

        .new-in__pagination.pagination.pagination--new
          button.pagination__btn.pagination__btn--prev.js-slider__prev-btn
            span.visually-hidden Previous
            +icon("icon_arrow-prev", 30, 11)

          ul.pagination__links.js-slider__pagination
            each product, index in newProducts
              li.js-slider__bullet(class=`${index === 0 ? "current" : ""}`)
                span(tabindex="0") #{`${index + 1}`}

          button.pagination__btn.pagination__btn--next.js-slider__next-btn
            span.visually-hidden Next
            +icon("icon_arrow-next", 30, 11)

    section.blog.container
      h2 Blog
      a(href="#") Read All
      ul
        each article, index in blogArticles
          li.blog__article
            +imgExtended(article.path, article.image, article.format, article.width, article.height, article.alt)
            div
              time(datetime=article.datetime)= article.data
              h3= article.title
              a(href=article.link) Read Article

    section.questions.container
      h2 Frequently asked questions
      ul
        each question, index in questions
          li.questions__item
            b(tabindex="0")= question.question
            p= question.answer

    section.gallery.container
      h2 @Chjewellery
      a(href="#") Follow Us
      .gallery__wrapper
        ul.gallery__list
          each photo, index in galleryPhotos1
            li
              +imgExtended(photo.path, photo.image, photo.format, photo.width, photo.height, photo.altText)
        ul.gallery__list
          each photo, index in galleryPhotos2
            li
              +imgExtended(photo.path, photo.image, photo.format, photo.width, photo.height, photo.altText)

block modals
  +modal("modal--login")
    +modal-login()
